// QUESTÃo 1 
// div {
//     background-color: gray;
//     height: 50px;
//     width: 50px;
// }

// .blue {
//     background: blue;
// }

// .green {
//     background: green;
// }

// .red {
//     background: red;
// }


// #white {
//     background: white;
// }


// #black {
//     background: black;
// }









// QUESTÃo 4
// span ,.selected {
//     color: green;
// }

// .contacts, div, span {
//     color: red;
// }

// #contacts-container ,.selected {
//     color: yellow;
// }



// QUESTÃo 5

img {
 margin: 5px 5px 5px 5px; // h-10
 padding: 10px 10px 10px 10px; // h -10
  padding-bottom: 30px; // h30
  display: block;  
  background: red;

}



.image-container {
    border:  2px solid black;
    display: inline-block;
}


