
<h1>Questão 1</h1>
<div class="blue red">1</div>
<div class="red " id="white">2</div>
<div class="green" id="black" style="background: blue ">3</div>
<div>4</div>
<div class="red blue">5</div>








<h1>Questão 4</h1>

<div class="contacts" id="contacts-container">1</div>
<div class="">
    <span>Peterrrrrrrrrrrr</span>
</div>

<div class="">
    <span class="selected">Paullllllllllllll</span>

</div>

<br><br><br><br>
<h1>Questão 5</h1>

<div class="image-container">
    <img style="height: 120px; width: 110px"
    alt="">
</div>


<!-- <div class="image-container2">
    <img class="www"
    src="https://www.labet.com.br/skin/frontend/labet/default/images/icon-motorista.png" alt="">
</div> -->